.footer {
	position: relative;
	&__form {
		padding-top: 40px;
		padding-bottom: 46px;
		background: url('../img/bg_service.png') center center;
		background-size: cover;
	}
	&__title {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 30px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		color: #000000;
		h2:last-child {
			font-size: 28px;
			text-align: center;
		}
	
	}
	&__wrapper {
		display: flex;
		justify-content: space-around;
	}
	#form__message {
		text-align: left;
		margin-top: 30px;
		font-size: 20px;
		font-weight: bold;
	}
	&__forma {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		max-width: 560px;
		.form {
			&__input {
				padding: 24px;
				padding-left: 5px;
				background: transparent;
				border: none;
				width: 466px;
				font-size: 22.5px;
				line-height: 1.2;
				font-weight: 400;
				color: #010000;
				border-bottom: 5px solid #c3252c;
				&:focus {
					outline: none;
				}
				&::placeholder {
					color: #010000;
				}
			}
			&__file {
				font-size: 20.6px;
				line-height: 1.2;
				font-weight: 400;
				color: #010000;
				margin-bottom: 30px;
			}
			&__textfile {
				margin-top: 15px;
				margin-bottom: 15px;
				display: flex;
				align-items: center;
				font-size: 22.5px;
				line-height: 1.2;
				font-weight: 400;
				color: #010000;
				img {
					height: 51px;
				}
			}
			&__confg {
				font-size: 14.6px;
				line-height: 1.2;
				font-weight: 400;
				color: #010000;
				display: flex;
				align-items: flex-start;
				margin-bottom: 30px;
				input {
					margin-right: 10px;
					width: 24px;
					height: 23px;
					border: 2px solid #010000;
				}
			}
			&__btn {
				box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.32);
				border-radius: 10px;
			}
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		&-title {
			font-size: 31.4px;
			line-height: 1.2;
			font-weight: 400;
			color: #010000;
			margin-bottom: 30px;
		}
		&-link {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 22.5px;
			line-height: 1.2;
			font-weight: 400;
			color: #010000;
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
			img {
				width: 40px;
				margin-right: 15px;
			}
			a {
				color: #010000;
			}
		}
	}
	&__link {
		width: 100%;
		background-color: #424242;
		padding-top: 33px;
		padding-bottom: 50px;
	}
	&__info {
		padding-right: 700px;
		display: flex;
	}
	&__item {
		display: block;
		font-size: 17px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 17px;

	}
	&__map {
		padding-left: 30px;
		padding-top: 30px;
		position: absolute;
		right: 0;
		bottom: 0;
		&::after {
				content: '';
				display: block;
				width: 600px;
				height: 330px;
				background-color: #c3252c;
				position: absolute;
				top: 0;
				left: 0;
		}
		&-script {
			width: 800px;
			position: relative;
			z-index: 2;
		}
		
	}
	&__infobottom {
		margin-top: 70px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		img {
			width: 32px;
			height: 32px;
			margin-right: 10px;
		}
		p {
			text-transform: uppercase;
			color: #ffffff;
			font-size: 22px;
		};
	}
}