.header {
	.navbars {
		background: url('../img/bg_nav.png')no-repeat;
		background-size: 50% 100%;
		// background-size: contain;
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__left {
			padding-top: 25px;
			padding-bottom: 19px;
			width: 100%;
		}
		&__logo {
			font-family: 'Qanelas';
			display: flex;
			align-items: center;
			color: #1a1a18;
			font-size: 54px;
			font-weight: 600;
			text-transform: uppercase;
			img {
				margin-right: 10px;
				height: 76px;
				width: 75px;
			}
		}
		&__right {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		&__call {
			padding-left: 69px;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 58px;
				height: 57px;
			}
			a {
				margin-left: 11px;
				font-size: 35.3px;
				line-height: 1.2;
				font-weight: 400;
				text-transform: uppercase;
				color: #000000;
			}
		}
		&__btn {
			width: 325px;
			height: 48px;
		}
	}
	&__menu {
		background: #c3252c;
		padding: 18px 0;
		position: relative;
		.burger {
			display: none;
			position: absolute;
			top: 100%;
			margin-top: -25px;
			right: 10px;
			width: 22px;
			height: 20px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 3;
			span {
				position: relative;
				display: block;
				width: 22px;
				height: 2px;
				background-color: #fff;
				&::after, &::before {
					transition: all, 0.3s;
					content: '';
					display: block;
					width: 22px;
					height: 2px;
					background-color: #fff;
				}
				&::after {
					position: absolute;
					top: -8px;
				}
				&::before {
					position: absolute;
					top: 8px;
				}
			}
			&.close {
				span {
					position: relative;
					display: block;
					width: 22px;
					height: 0px;
					background-color: #fff;
					&::after, &::before {
						transition: all, 0.3s;
						content: '';
						display: block;
						width: 22px;
						height: 2px;
						background-color: #fff;
					}
					&::after {
						transform: translateY(10px) translateY(-50%) rotate(-45deg);
						// top: -8px;
					}
					&::before {
						transform: translateY(-8px) translateY(50%) rotate(45deg);
						// top: 8px;
					}
				}
			}
		}
	}
	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__item {
			position: relative;
			font-size: 30px;
			line-height: 1.2;
			font-weight: 400;
			color: #ffffff;
			&::after {
				content: '';
				position: absolute;
				width: 0px;
				left: 50%;
				height: 2px;
				bottom: -5px;
				background: #ffffff;
				transform: translateX(-50%);
				transition: all .2s linear;
		  }
		  &:hover::after {
			width: calc(100% + 16px);
		}
		}
	}

	&__hero {
		position: relative;
		background: url('../img/Detalis__bg.jpg')center center no-repeat;
		background-size: cover;
		padding-top: 173px;
		padding-bottom: 41px;
		color: #ffffff;
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0.7;
			background-color: #000000;
		}
		&-index {
			background: url('../img/bg_screen.png')center top no-repeat;
			background-size: cover;
			&::after {
				display: none;
			}
		}
		.container {
			position: relative;
			z-index: 2;
		}
		.hero {
			&__info {
				margin-left: 100px;
				max-width: 750px;
				min-height: 332px;
				border-left: 26px solid #c3252c;
				padding-left: 57px;
				margin-bottom: 80px;
			}
			&__title {
				font-size: 48px;
				line-height: 1.2;
				font-weight: 400;
				text-transform: uppercase;
				margin-bottom: 67px;
			}
			&__subtitle {
				max-width: 255px;
				font-size: 22.4px;
				line-height: 1.2;
				font-weight: 400;
				text-transform: uppercase;
			}
			&__offer {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				.btn {
					&:first-child {
						margin-right: 69px;
					}
				}
			}
		}
	}
}