.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9;
	text-align: center;
	visibility: hidden;
	display: none;
		&.js-active {
			visibility: visible;
			display: flex;

		}
	&__close {
		position: absolute;
		top: -45px;
		right: -45px;
		width: 35px;
		height: 35px;
		color: #ffffff;
		font-size: 35px;
		opacity: 1;
		transition: all, 0.2s;
			&:hover {
				cursor: pointer;
				transition: all, 0.2s;
				opacity: 0.7;
			}
	}
	&__body {
		position: relative;
		max-width: 400px;
		background-color: #fff;
		border-radius: 10px;
		padding: 30px;
		visibility: hidden;
		display: none;
		&.js-active {
			visibility: visible;
			display: block;
			animation: popup__move 0.7s ease;

		}
	}
	&__content {
		width: 100%;
		height: 100%;
	}
	&__title {
		font-weight: 900;
		font-size: 25px;
		margin-bottom: 30px;
		font-family: 'Cormorant', serif;
		text-transform: uppercase;
	}
	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.form {
		&__input {
			width: 100%;
			padding: 24px;
			padding-left: 5px;
			background: transparent;
			border: none;
			font-size: 22.5px;
			line-height: 1.2;
			font-weight: 400;
			color: #010000;
			border-bottom: 5px solid #c3252c;
			margin-bottom: 15px;
			&:focus {
				outline: none;
			}
			&::placeholder {
				color: #010000;
			}
		}
		&__textaria {
			border-radius: 5px;
			height: auto;
			resize: none;
			margin-bottom: 5px;
			margin-top: 5px;
		}
		&__btn {
			width: 100%;
			border-radius: 5px;
			box-sizing: border-box;
			margin-bottom: 5px;
			margin-top: 5px;
			white-space: nowrap;
			transition: all, 0.8s;
			&:hover {
				transition: all, 0.8s;
			}
		}
		.error {
			font-weight: bold;
			color: red;
		}
		&__confg {
			font-size: 14px;
		}
	}

}



@keyframes popup__move {
	0% {
		top: -300px;
		opacity: 0;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}