@font-face {
	font-family: 'Bahnschrift';
	src: url('/fonts/Bahnschrift.ttf');
	src: url('/fonts/Bahnschrift.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Qanelas';
	src: url('/fonts/Qanelas/Qanelas-SemiBold.eot');
	src: local('Qanelas SemiBold'), local('Qanelas-SemiBold'),
		 url('/fonts/Qanelas/Qanelas-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Qanelas/Qanelas-SemiBold.woff2') format('woff2'),
		 url('/fonts/Qanelas/Qanelas-SemiBold.woff') format('woff'),
		 url('/fonts/Qanelas/Qanelas-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
body, html {
	margin: 0;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Bahnschrift';
}
a {
	text-decoration: none;
}
h3 {
	font-size: 25px;
	font-weight: lighter;
}
.container {
	position: relative;
	max-width: 1490px;
	margin: 0 auto;
}
.btn {
	width: 406px;
	height: 62px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	border-radius: 10px;
	background: #cccccc;
	color: #001100;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	&__red {
		color: #fff;
		background: #c3252c;
	}
}
@import 'header';
@import 'catalog';
@import 'footer';

@import 'popup';

@import 'media';