body
{
	background-color:#9b26af;
	min-width:1400px;
	max-width:1350px;
}
.main
{
	
	width: 100%;
    /*height: 1000px;*/
	/*border-style: solid;
	border-color: black;*/
	text-align: center;
}


#block {
    width: 1000px;
    height: 1400px;
 
    margin-left: 170px;
    margin-top: 20px;
/*    border-style: solid;
	border-color: yellow;*/
	display: none;
 }
 #p1
 {
 	font-family: 'Pattaya', sans-serif;
 	/*font-family: 'Rammetto One', cursive;*/
 	/*font-family: 'Marck Script', cursive;*/
 	/*font-family: 'Lobster', cursive;*/
 	font-size: 56px;
 	color: white;
 }
 #p2
 {
 	font-family: 'Lobster', cursive;
 	font-size: 42px;
 	color: white;
 	margin-bottom: 100px;
 }

 #block p
 {
 	font-family: 'Neucha', cursive;
 	color: white;
 	font-size: 32px;
 }

 a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .5em 1em calc(.5em + 3px);
  border-radius: 3px;
  background:#00E676;
  font-family: 'Lobster', cursive;
  transition: 0.2s;
  font-size: 46px;
  color: #616161;
} 
a.button2
{
	font-family: 'Lobster', cursive;
}
a.button7:hover { background: #00C853; }
a.button7:active {
   background:#00E676;

}

select
{
	height: 60px;
	font-size: 32px;
	font-family: 'Neucha', cursive;
}


 a.button2 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .5em 1em calc(.5em + 3px);
  border-radius: 3px;
  background:#00E676;
  
  transition: 0.2s;
  font-size: 46px;
  color: #616161;
} 
a.button2:hover { background: #00C853; }
a.button2:active {
   background:#00E676;

}
#mist
{
	width: 500px;
	height: 300px;
	background-color: #F5F5F5;
	border-radius: 20px;
	margin-left: 420px;
	margin-top: -200px;
	display: none;
	position: absolute;

}
#mist img
{
	width: 150px;
}

#er1
{
	/*border-color: black;
	border-style: solid; */
	width: 200px;
	padding-top:70px;
	float: left;
}
#er2
{
	/*border-color: black;
	border-style: solid;*/ 
	float: left;
	font-size: 42px;
	width: 280px;
	font-family: 'Russo One', sans-serif;
	color: #616161;
}
#happy
{
	width: 100%;
	/*height: 3600px;*/
	background: white;
	display: none;
	position: relative;
	margin-top: 50px;
}
.cont
{
	width: 100%;
	padding: 10px;
	overflow: hidden;
	/*height: 3500px;*/
/*	border-color: black;
	border-style: solid;*/
}
.left
{
	width:650px;
	height: 3100px;
	float: left;
/*	border-color: black;
	border-style: solid;*/
	margin-top: 10px;
}
.right
{
	width:650px;
	height: 2800px;
	float: left;
/*	border-color: black;
	border-style: solid;*/
	margin-left: 15px;
	margin-top: 10px;
}
.unit
{
	width: 45%;
/*	border-color: red;
	border-style: solid;*/
	float: left;
	margin: 10px;
	position: relative;
	/*position: absolute;*/
}
.clear {
	clear: both;
}

.unit img
{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	/*margin-left: -300px;*/
}

.image	
{
	float: left;
/*	border-color: yellow;
	border-style: solid;*/
	margin-left: 10px;
}
.post
{
	float: left;
	width: 360px;
	margin-left: 20px;

    border-radius: 20px;
    margin-top: 30px;
    color: #808080;
    background: #DCDCDC;
    /*font-family: 'Rammetto One', cursive;*/
 	font-family: 'Marck Script', cursive;
 	font-size: 26px;
 	/*font-family: 'Lobster', cursive;*/
}
.post::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 196px; top:80px; /* Положение треугольника */
    border: 20px solid transparent;	
    border-right: 20px solid #DCDCDC;

   }
 hr
 {
 float: left;	
 	width: 100%;
 	margin-top:20px;
 }


